<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>	
        <rewrite>
			<rules>
			
                <rule name="Imported Rule Brain">
                    <match url="^([a-zA-Z0-9_-]+)(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?url={R:1}" appendQueryString="false" />
				</rule>
				 <rule name="Imported Rule HK">
                    <match url="adminpan/([a-zA-Z0-9_-]+)(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="adminpan/index.php?url={R:1}" appendQueryString="false" />
				</rule>
			    <rule name="Rule 112">
     <match url="^haddo-imaging/badge/([^/]+)" ignoreCase="false" />
     <action type="Rewrite" url="/haddo-imaging/badge.php?badge={R:1}" appendQueryString="false" />
    </rule>
                <rule name="Imported Rule 1" stopProcessing="true">
                    <match url="news/([a-zA-Z0-9_-]+)(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="/index.php?url=news&amp;id={R:1}" appendQueryString="false" />
				</rule>
				<rule name="Imported Rule 131234" stopProcessing="true">
                    <match url="home/([a-zA-Z0-9_-]+)(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="/index.php?url=home&amp;user={R:1}" appendQueryString="false" />
				</rule>
				<rule name="Imported Rule HK Users" stopProcessing="true">
                    <match url="adminpan/gebruiker/([a-zA-Z0-9_-]+)(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="/adminpan/index.php?url=gebruiker&amp;user={R:1}" appendQueryString="false" />
				</rule>
				<rule name="Imported Rule HK Sollielook" stopProcessing="true">
                    <match url="adminpan/sollielook/([a-zA-Z0-9_-]+)(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="/adminpan/index.php?url=sollielook&amp;look={R:1}" appendQueryString="false" />
				</rule>
				<rule name="Imported Rule HK DeleteNews" stopProcessing="true">
                    <match url="adminpan/news/delete/([a-zA-Z0-9_-]+)(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="/adminpan/index.php?url=news&amp;delete={R:1}" appendQueryString="false" />
				</rule>
				<rule name="Imported Rule HK DeleteSollie" stopProcessing="true">
                    <match url="adminpan/sollielook/delete/([a-zA-Z0-9_-]+)(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="/adminpan/index.php?url=sollielook&amp;delete={R:1}" appendQueryString="false" />
				</rule>
				<rule name="Imported Rule HK EditNews" stopProcessing="true">
                    <match url="adminpan/news/edit/([a-zA-Z0-9_-]+)(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="/adminpan/index.php?url=editnews&amp;news={R:1}" appendQueryString="false" />
				</rule>
				<rule name="Imported Rule HK DeleteBan" stopProcessing="true">
                    <match url="adminpan/bans/delete/([a-zA-Z0-9_-]+)(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="/adminpan/index.php?url=bans&amp;delete={R:1}" appendQueryString="false" />
				</rule>
				<rule name="Imported Rule HK GiveUODW" stopProcessing="true">
                    <match url="adminpan/giveuseroftheweek/([a-zA-Z0-9_-]+)(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="/adminpan/index.php?url=giveuseroftheweek&amp;user={R:1}" appendQueryString="false" />
				</rule>
				<rule name="Imported Rule User Ref" stopProcessing="true">
                    <match url="register/([a-zA-Z0-9_-]+)(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="/index.php?url=register&amp;userref={R:1}" appendQueryString="false" />
				</rule>
				<rule name="Imported Rule User Pas" stopProcessing="true">
                    <match url="newpassword/([a-zA-Z0-9_-]+)(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="/index.php?url=newpassword&amp;key={R:1}" appendQueryString="false" />
				</rule>		
				  <rule name="Imported Rule 47">
                    <match url="^cdn/upload$" ignoreCase="false" />
                    <action type="Rewrite" url="/cdn/camera/upload_photo.php" />
                </rule>
				 <rule name="Imported Rule 48">
                    <match url="^cdn/camera/public/([0-9]+)-([0-9]+).png$" ignoreCase="false" />
                    <action type="Rewrite" url="/cdn/camera/public/preview/{R:1}-{R:2}.png" />
                </rule>
                <rule name="Imported Rule 49">
                    <match url="^cdn/camera/public/purchased/([0-9]+)-([0-9]+).png$" ignoreCase="false" />
                    <action type="Rewrite" url="/cdn/camera/fetch_photo.php?userId={R:1}&amp;photoId={R:2}&amp;tmb=0" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 50">
                    <match url="^cdn/camera/public/purchased/([0-9]+)-([0-9]+)_small.png$" ignoreCase="false" />
                    <action type="Rewrite" url="/cdn/camera/fetch_photo.php?userId={R:1}&amp;photoId={R:2}&amp;tmb=1" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 51">
                    <match url="^cdn/camera/public/crossdomain.xml$" ignoreCase="false" />
                    <action type="Rewrite" url="/cdn/camera/crossdomain.xml" />
                </rule>
                <rule name="Imported Rule 52">
                    <match url="^habbo-imaging/badge/(.*).gif$" ignoreCase="false" />
                    <action type="Rewrite" url="//cdn/habbo-imaging/badge.php?badge={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 53">
                    <match url="^camera/thumb/thumbupload.php$" ignoreCase="false" />
                    <action type="Rewrite" url="/cdn/camera/thumb/thumbupload.php" />
                </rule>
			</rules>
		</rewrite>
	</system.webServer>
</configuration>